@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  background: var(--White-500, #fff);
  font-family: "Epilogue", sans-serif;
}

.container {
  width: 1260px;
  max-width: 95%;
  margin: 0 auto;
}

/* -------------------------------------------------------------------------------------------------------------- */

/* header */
.header {
  width: 1440px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--White-500, #fff);
}

.header_logo {
  display: flex;
  width: 58px;
  height: 58px;
  padding: 2.513px 0px 2.485px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.header_menu {
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header_menu li {
  position: relative;
}

.header_menu ul {
  font-family: "Epilogue", sans-serif;
}

.header_menu li a {
  color: var(--Dark-500, #141c1d);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header_menu img {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  vertical-align: middle;
}

a:visited {
  color: black;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 10px;
}

.dropdown li a {
  display: block;
  padding: 10px;
  color: var(--Dark-500, #141c1d);
  text-decoration: none;
}

.dropdown li a:hover {
  background-color: #f1f1f1;
}

.header_menu li:hover .dropdown {
  display: block;
}

.header_icon {
  display: inline-flex;
  align-items: center;
  gap: 30px;
}

.icon_button {
  width: 24px;
  height: 24px;
}

.login-button {
  display: flex;
  width: 98px;
  height: 50px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--Primary-500, #088395);
  cursor: pointer;
}

.login-button span {
  color: var(--White-500, #fff);
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

/* ---------------------------------------------------------------------------------------------------------------- */

/* footer */
footer {
  border-top: 1px solid var(--gray-gray-10, rgba(163, 170, 171, 0.1));
  background: var(--White-500, #fff);
  width: 1440px;
  height: 387px;
  flex-shrink: 0;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}

.footer_logo {
  display: flex;
  width: 82px;
  height: 82px;
  padding: 3.553px 0px 3.514px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.bold {
  color: var(--Dark-500, #141c1d);
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.media_icon {
  display: flex;
  align-items: center;
}

.gmail {
  display: flex;
  align-items: left;
}

.footer ul li {
  color: var(--Dark-500, #141c1d);
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
}

.footer_end {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pay,
.social {
  display: flex;
  justify-content: space-around;
  float: left;
  gap: 20px;
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* homepage */

.home {
  top: 1144px;
  left: 150px;
  gap: 50px;
  padding: 100px;
  width: 1440px;
}

.pay {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

.left {
  background-color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.right {
  background-color: blue;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.right img {
  max-width: 100%;
  max-height: 100%;
}
.text {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.home h1 {
  stylename: Header-3 Bold;
  font-family: Epilogue;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  align-self: stretch;
  padding-left: 30px;
}

.home p {
  stylename: Body-1 Regular;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  align-self: stretch;
  padding-left: 30px;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 51px;
  padding-top: 50px;
}

.choose {
  padding-top: 80px;
}

.choose_img {
  display: flex;
  gap: 30px;
}

.sofa_image2 {
  display: flex;
  flex-direction: column; /* Öğeleri dikey olarak hizalar */
  align-items: center; /* Öğeleri yatayda ortalar */
  justify-content: center;
  gap: 30px;
}

.choose_content {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.choose_text {
  display: flex;
  width: 222px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 12px;
}

.choose_text img {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  padding: 222px, 198px;
}

.img_icon {
  border-radius: 10px;
  background: var(--primary-primary-5, rgba(8, 131, 149, 0.05));
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  padding-left: 12px;
  padding-top: 12px;
}

.trending_products {
  padding: 80px;
}

.trending_products p {
  padding-top: 20px;
}

.furniture {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  background: var(--gray-gray-5, rgba(163, 170, 171, 0.05));
  padding: 30px;
  border: 2px solid rgba(128, 128, 128, 0.1);
}

.furniture_content {
  width: 300px;
  height: 350px;
  padding: 30px 0px;
  /* border: 2px solid rgba(128, 128, 128, 0.1);
  border-radius: 5px; */
}

.furniture img {
  padding-left: 45px;
}

.learn_more {
  display: inline-flex;
  align-items: center;
  gap: 50px;
  padding: 100px;
}

.learn_more1 p {
  padding-top: 30px;
}

.number {
  display: flex;
  width: 556px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding-top: 30px;
}

.btn_learn {
  padding-top: 40px;
}

.btn_learn_more {
  border-radius: 10px;
  background: var(--Primary-500, #088395);
  color: white;
  display: flex;
  height: 56px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.comment {
  width: 1440px;
  height: 544px;
  flex-shrink: 0;
  background: var(--Primary-500, #088395);
  color: white;
}

.comment h1 {
  padding-top: 50px;
  padding-left: 100px;
}

.comment p {
  padding-top: 15px;
  padding-left: 100px;
}

.insta_stories h1 {
  padding-left: 100px;
  padding-top: 80px;
}

.insta_img {
  display: flex;
  padding-left: 100px;
  padding-top: 30px;
  gap: 25px;
}
